{% extends 'base.html' %}
{% load static %}
{% block title %}editaccount{% endblock %}
{% block body %}
	<!-- Page info -->
	<div class="page-info-section set-bg" data-setbg="{% static 'img/page-bg/1.jpg' %}">
		<div class="container">
			<div class="site-breadcrumb">
				<a href="#">Home</a>
				<span>password</span>
			</div>
		</div>
	</div>
	<!-- Page info end -->

<section class="search-section ss-other-page">
		<div class="container">
			<div class="search-warp">
				<div class="section-title text-white">
					<h2><span>change password</span></h2>
				</div>
				<div class="row">
					<div class="col-lg-10 offset-lg-1">						
						<!-- signup form -->
						<form class="signup-form" method="POST" action="{% url 'updatepassword' %}">
						{% csrf_token %}
							
							{{form}}
							<button class="site-btn" type="submit">updatepassword</button><br><br>
						</form>
							
						

						</form>
</div>
</div>
</div>
</div>
</section>


{% endblock %}

